body {
    background-color: #0e1525;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.container {
    background: #1f2937;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-group button {
    padding: 0 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #6366f1;
    color: white;
    cursor: pointer;
}

.action-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.action-group button {
    background: #374151;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #111827;
}

tr:nth-child(even) {
    background: #1e293b;
}

.empty {
    color: #9ca3af;
    text-align: center;
}
.status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.done {
    background: #16a34a;
    color: white;
}
.not-done {
    background: #dc2626;
    color: white;
}
.delete-btn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
